<br><br>

  <div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>Lanchonete Canaã</h3>
        <h5 class="light grey-text text-lighten-3">Felizes são os que ouvem a palavra de Deus e a guardam!</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
      <div class="caption left-align">
        <h3>Lanchonete Canaã</h3>
        <h5 class="light grey-text text-lighten-3">Se Cristo vos libertar, verdadeiramente sereis livres.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
      <div class="caption right-align">
        <h3>Lanchonete Canaã</h3>
        <h5 class="light grey-text text-lighten-3">Tudo posso naquele que me fortalece.</h5>
      </div>
    </li>
    <li>
      <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
      <div class="caption center-align">
        <h3>Lanchonete Canaã</h3>
        <h5 class="light grey-text text-lighten-3">Pois vocês são todos filhos de Deus, pela fé, em união com Jesus Cristo.</h5>
      </div>
    </li>
  </ul>
</div>
<script>
 $(document).ready(function(){
    $(".button-collapse").sideNav();
    $('.slider').slider({
      full_width: true,
      indicators: false
    });
  });
</script>   
